<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User info</title>
</head>
<body>
<h1>User information page</h1>
<br/>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <br>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
<br>
<form th:action="@{/auth/logout}" th:method="POST">
    <button type="submit">Log out</button>
</form>
</body>
</html>